%ul{:class => ("document-list" if catalog == @root)}
  %li{:class => ("active" if ((@current_catalog.nil? and catalog == @root) or (@current_catalog and @current_catalog == catalog)))}
    = link_to catalog.name, "#", :"data-catalog" => (catalog == @root ? "" : catalog.full_path), :"data-id" => (catalog == @root ? "" : catalog.id)
    = render partial: "sidebar", collection: catalog.doc_catalogs, as: :catalog
