- if item != @root
  = render partial: "current_catalog", locals: { is_first: false, item: (item.doc_catalog || @root) }
- if is_first and not @document
  %li.active= item.name
- else
  %li= link_to item.name, catalog_documents_path(item)
