%ul{:class => ("document-list" if catalog == @root)}
  %li{:class => ("active" if catalog == @current_catalog)}
    = link_to catalog.name, catalog_documents_path(catalog)
    = render partial: "sidebar", collection: catalog.doc_catalogs, as: :catalog
